body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd;
  color: #fff;
}

header {
  background-color: #333;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 0;
}

header a {
  text-decoration: none;
  color: inherit;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}

header nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  max-width: 50%;
  margin: 150px auto 0 auto;
}

.blog-posts {
  margin: 2rem auto;
  padding: 20px 0px;
}

.post {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 0 auto 20px auto;
}

.post img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
}

.post h2 {
  color: #333;
  margin-bottom: 0;
}

.post p {
  color: #555;
  font-size: 18px;
}

.post button {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: #000;
  transition: 0.2s;
  color: #fff;
}

.post button:hover {
  color: #000;
  transform: translate(-0.25rem, -0.25rem);
  background: #ff90e8;
  box-shadow: 0.25rem 0.25rem #000;
}

.post button:active {
  transform: translate(0);
  box-shadow: none;
}

.post button:hover {
  cursor: pointer;
}

footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  margin-top: 200px;
  width: 100%;
}

@media (width < 1000px) {
  main {
    max-width: 90%;
  }
}

@media (width < 800px) {
  .post {
    width: 90%;
  }
}
